name: Terraform Apply (Dev)

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  apply-dev:
    name: Apply Terraform (dev)
    runs-on: ubuntu-latest
    environment: dev

    if: github.ref == 'refs/heads/main'

    defaults:
      run:
        shell: bash
        working-directory: environments/dev

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false -var-file=variables.tfvars

      - name: Mark Dev Apply Success
        run: echo "Dev applied successfully" > .last_apply

      - name: Upload Dev Apply Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dev-apply-success
          path: ./artifacts